@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="text-center">
        <h1 class="display-4">Moto Mondays</h1>
    </div>

    <div>
        <img src="~/Images/DSC02571.jpg" />
    </div>
</div>